<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Channels</key>
	<array>
		<dict>
			<key>ChannelName</key>
			<string>NASA</string>
			<key>Icon</key>
			<string>nasa.png</string>
			<key>URL</key>
			<string>http://nasatv-lh.akamaihd.net/i/NASA_101@319270/index_1000_av-p.m3u8?sd=10&amp;rebase=on</string>
		</dict>
		<dict>
			<key>ChannelName</key>
			<string>TWIT Tech News</string>
			<key>Icon</key>
			<string>twit.png</string>
			<key>URL</key>
			<string>http://iphone-streaming.ustream.tv/ustreamVideo/1524/streams/live/playlist.m3u8</string>
		</dict>
		<dict>
			<key>ChannelName</key>
			<string>Bloomberg Asia</string>
			<key>Icon</key>
			<string>bloomberg.png</string>
			<key>URL</key>
			<string>http://btvasia-i.akamaihd.net/hls/live/203322/btvasia_ios/P1/M24K.m3u8</string>
		</dict>
		<dict>
			<key>ChannelName</key>
			<string>Eurosport</string>
			<key>Icon</key>
			<string>eurosport.png</string>
			<key>URL</key>
			<string>http://esioslive6-i.akamaihd.net/hls/live/202874/AL_P_ESP1_INTER_ENG/playlist_1000.m3u8</string>
		</dict>
		<dict>
			<key>ChannelName</key>
			<string>Vevo</string>
			<key>Icon</key>
			<string>vevo.png</string>
			<key>URL</key>
			<string>http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch1/05/prog_index.m3u8</string>
		</dict>
		<dict>
			<key>ChannelName</key>
			<string>Cinestream</string>
			<key>Icon</key>
			<string>cinestream.png</string>
			<key>URL</key>
			<string>http://68.71.42.179/live/livestream1/playlist.m3u8</string>
		</dict>
		<dict>
			<key>ChannelName</key>
			<string>Jasmi.TV</string>
			<key>Icon</key>
			<string>jasmin.png</string>
			<key>URL</key>
			<string>http://109.71.162.112:1935/live/sd.jasminchannel.stream/PAZ_Chega_de_Guerras.m3u8</string>
		</dict>
	</array>
</dict>
</plist>
