<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Channels</key>
	<array>
		<dict>
			<key>ChannelName</key>
			<string>China</string>
			<key>Icon</key>
			<string>ciack.png</string>
			<key>URL</key>
			<string>http://a1.phobos.apple.com/us/r1000/000/Features/atv/AutumnResources/videos/comp_C007_C004_0824AJ_001_v01_6M_HB_tag0.mov</string>
		</dict>
		<dict>
			<key>ChannelName</key>
			<string>Liwa</string>
			<key>Icon</key>
			<string>ciack.png</string>
			<key>URL</key>
			<string>http://a1.phobos.apple.com/us/r1000/000/Features/atv/AutumnResources/videos/comp_LW_L001_C006_t9_6M_tag0.mov</string>
		</dict>
		<dict>
			<key>ChannelName</key>
			<string>Greenland</string>
			<key>Icon</key>
			<string>ciack.png</string>
			<key>URL</key>
			<string>http://a1.phobos.apple.com/us/r1000/000/Features/atv/AutumnResources/videos/plate_G002_C002_BG_t9_6M_HB_tag0.mov</string>
		</dict>
		<dict>
			<key>ChannelName</key>
			<string>Greenland</string>
			<key>Icon</key>
			<string>ciack.png</string>
			<key>URL</key>
			<string>http://a1.phobos.apple.com/us/r1000/000/Features/atv/AutumnResources/videos/comp_GL_G004_C010_v03_6Mbps.mov</string>
		</dict>
	</array>
</dict>
</plist>
